<section class="slides" id="certifications">
    <h2 class="title">Certifications</h2>
    <div class="content">
        <!--- Each slide content -->
        <div class="content-image"><i class="fa-solid fa-certificate"></i></div>
        <div class="content-info">
            <h3>Flutter Certification</h3>
            <p>
                Flutter Entry Level Course - The Hope International Company
                9/6/2023 - 2/1/2024.
            </p>
            <a class="content-button">View Details.</a>
        </div>
    </div>
    <div class="content">
        <!--- Each slide content -->
        <div class="content-image"><i class="fa-solid fa-graduation-cap"></i></div>
        <div class="content-info">
            <h3>High School Diploma</h3>
            <p>High School Diploma - Modern European School (MES), Amman, Jordan, 2023.</p>
            <a class="content-button">View Details.</a>
        </div>
    </div>
</section>
