    <!-- #Contact -->
<section class="slides" id="contact">
    <h2 class="title">Let's work together</h2>
    <div class="content">
        <!--- Each slide content -->
        <div class="content-image"><i class="fa-solid fa-envelope"></i></div>
        <div class="content-info">
            <h3 class="content-info-contact">Email</h3>
            <p>noureddenbishawi@gmail.com.</p>
        </div>
    </div>
    <div class="content">
        <!--- Each slide content -->
        <div class="content-image"><i class="fa-solid fa-phone"></i></div>
        <div class="content-info">
            <h3>Phone</h3>
            <p>+962 796 562 191.</p>
        </div>
    </div>
</section>