<section class="main">
    <div>
        <h2>Hello i'm Nour Edden <br><span>Software Developer</span></h2>
        <h3>Make You're dreams into our reality !</h3>
        <a href="~/Certifications" class="main-button">Start Discovering.</a>
    </div>
</section>