<section class="slides" id="work-experience">
    <h2 class="title">Work Experience</h2>
    <div class="content">
        <!--- Each slide content -->
        <div class="content-image"><i class="fa-solid fa-shop"></i></div>
        <div class="content-info">
            <h3>Carrefour Hypermarket - Amman, Jordan</h3>
            <p>
                Managed inventory and restocked shelves to ensure availability of fast-moving consumer goods.
                Provided excellent customer service and addressed inquiries and concerns related to consumer goods.
                Assisted in maintaining cleanliness and organization within the consumer goods department.
            </p>
        </div>
    </div>
    <div class="content">
        <!--- Each slide content -->
        <div class="content-image"><i class="fa-solid fa-mug-hot"></i></div>
        <div class="content-info">
            <h3>Q92 Coffee House - Amman, Jordan Barista Trainee</h3>
            <p>
                Received training in espresso preparation, milk frothing, and drink customization.
                Practiced customer service skills and learned about different coffee varieties.
                Assisted senior baristas in daily operations and maintenance of equipment.
            </p>
        </div>
    </div>
    <div class="content">
        <!--- Each slide content -->
        <div class="content-image"><i class="fa-solid fa-utensils"></i></div>
        <div class="content-info">
            <h3>Saj Restaurant - Amman, Jordan</h3>
            <p>
                Took orders, served food, and ensured customer satisfaction.
                Maintained cleanliness and hygiene in the dining area and kitchen.
                Handled cash transactions and reconciled receipts at the end of shifts.
            </p>
        </div>
    </div>
</section>