<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

    <title>Nour Edden AlBishawi</title>

</head>
<body>
    <header>
        <a class="logo" href="~/Home/Index">Nour Edden</a>
        <nav class="navigation">
            <a href="~/Home/Certifications">Certifications</a>
            <a href="~/Home/WorkExperience">Work Experience</a>
            <a href="~/Home/Projects">Projects</a>
            <a href="~/Home/Contact">Contact</a>
        </nav>
    </header>

    @RenderBody()

    <footer class="footer">
        <p>Copy rights Nour Edden AlBishawi</p>
        <div class="social-media-icons">
            <a href="https://github.com/NourEdden-Albishawi"><i class="fa-brands fa-github"></i></a>
            <a href="https://www.facebook.com/noor.albishawi"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/nour._.bishawi"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://wa.me/+962796562191"><i class="fa-brands fa-whatsapp"></i></a>
        </div>
    </footer>
</body>
</html>